
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

/* HEADER */

li {
  list-style-type: none;
}

header {
  background-color: #eff2ec;
  width: 100%;
  height: 230px;
  border-bottom: #eaeaea 30px solid;
}

a {
  color: black;
}
a:hover {
  color: grey;
}

#header1, #header2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header2 {
  text-decoration: underline;
}

/* NAVIGATION */

#titre1 {
  display: flex;
}

#logo {
  height: 70px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  width: 40%;
}

#icon {
  cursor: pointer;
  display: none;
}


/* MAIN */

main {
  height: 100vh;
  background-image: url("../Images/fond.png");
  background-repeat: repeat-y;
  background-size: 100% auto;
  display: flex;
}

#tete {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 2%;
 
}

#main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* FOOTER */

#footerline {
  background-color: #eff2ec;
  border-top: #eaeaea 30px solid;
  width: 100%;
  display: flex;
  justify-content: center;
}

footer, footer a {
  background-color: black;
  color: white;
  text-align: center;
}

#footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
}

.footer-section {
  
  max-width: 150px;
}

.footer-section ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-section ul li {
  margin-right: 10px; /* Ajoute de l'espace entre chaque élément li */
}



/* Ajustez la taille des images en fonction de vos besoins 
}
/* FOOTER 

footer {

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  width: 100%;

}


#footerline {
  background-color: #eff2ec;
  border-top: #eaeaea 30px solid;
  width: 100%;
  display: flex;
  justify-content: center;
}

#footer-section {
  
}

#footer-content {
  color: white;
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.footer-section {
  flex-basis: 30%; /* Chaque section occupe 30% de la largeur 
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section a {
  color: #fff;
  text-decoration: none;
  display: block;
}

#linkedin, #Mail, #insta {
  max-width: 30px; /* Ajustez la taille des images en fonction de vos besoins 
}

*/


@media (max-width: 640px) 

/* NAV MOBILE */

  {
  #icon {
    display: block;
    margin-left: auto;
  }

  #icon:before {
    content: "\2630";
  }

  .active #icon:before {
    content :"\2715";
  }

  nav ul {
    position: fixed;
    left: -100%;
    top: 10%;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.25s;
    background-color: #eff2ec;
  }

  nav li {
    padding: 3px 0;
  }

  nav li:hover {
    color: grey;
  }

  nav.active ul {
    left: 0;
  }

  .footer-section {
    display: flex;
    flex-direction: column;
  }
  main {
    flex-direction: column;
    height: auto;
  }
  #linemain {
    display: none;
  }
  #tete {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 0%;
  }
}